[submodule "lib/WDL"]
	path = main/lib/WDL
	url = https://github.com/justinfrankel/WDL.git
	ignore = untracked
[submodule "helgoboss-learn"]
	path = main/lib/helgoboss-learn
	url = https://github.com/helgoboss/helgoboss-learn.git
