on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
  # For quickly detecting important differences in runner configurations
  schedule:
    - cron: '0 5 * * MON'

name: Windows x86_64

jobs:
  check:
    name: Check
    runs-on: windows-latest
    steps:
      # Checkout with Playtime Clip Engine
      - uses: actions/checkout@v2
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: |
            ${{ secrets.PRIVATE_PLAYTIME_CLIP_ENGINE_DEPLOY_KEY }}
            ${{ secrets.PRIVATE_HELGOBOSS_LICENSE_PROCESSOR_DEPLOY_KEY }}
      - name: Update submodules
        run: |
          git submodule update --init
      # Remainder
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.79.0
          override: true
      - name: cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --features playtime,egui

  test:
    name: Test
    runs-on: windows-latest
    steps:
      # Checkout with Playtime Clip Engine
      - uses: actions/checkout@v2
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: |
            ${{ secrets.PRIVATE_PLAYTIME_CLIP_ENGINE_DEPLOY_KEY }}
            ${{ secrets.PRIVATE_HELGOBOSS_LICENSE_PROCESSOR_DEPLOY_KEY }}
      - name: Update submodules
        run: |
          git submodule update --init
      # Remainder
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.79.0
          override: true
      - name: cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --features playtime,egui
      - name: cargo test
        uses: actions-rs/cargo@v1
        env:
          RUST_MIN_STACK: 5242880
        with:
          command: test
          args: --features playtime,egui -- --nocapture
